AITS First Batch AI and ML/INNOVATION SKYLINE/flows.json
[{"id":"6e06d179.232f9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"df2b998b.7af038","type":"inject","z":"6e06d179.232f9","name":"initial","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.10000610351562,"y":265.00000381469727,"wires":[["db75dca3.ad129"]]},{"id":"1d4c3de5.efb8b2","type":"debug","z":"6e06d179.232f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":911.0999755859375,"y":64,"wires":[]},{"id":"db75dca3.ad129","type":"function","z":"6e06d179.232f9","name":"fun_gen","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4b82d878-8454-4ba0-9a66-c9d2ad27c6cf\"\nvar password=\"bbb3c174-97c7-4a45-a545-1ef9a3c024b8\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yor\",msg.payload.yor)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"nrd\",msg.payload.nrd)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"mor\",msg.payload.mor)\nglobal.set(\"br\",msg.payload.br)\nreturn msg;","outputs":1,"noerr":0,"x":252.50000381469727,"y":341.00000381469727,"wires":[["1f0ae58c.346d8a"]]},{"id":"edd53f29.93cbe","type":"ui_form","z":"6e06d179.232f9","name":"","label":"","group":"fd5caeca.21ef4","order":2,"width":0,"height":0,"options":[{"label":"vehicleType","value":"vt","type":"number","required":true},{"label":"yearOfRegistration","value":"yor","type":"number","required":true},{"label":"gearbox","value":"gb","type":"number","required":true},{"label":"kilometer","value":"km","type":"number","required":true},{"label":"notRepairedDamage","value":"nrd","type":"number","required":true},{"label":"fuelType","value":"ft","type":"number","required":true},{"label":"monthOfRegistration","value":"mor","type":"number","required":true},{"label":"brand","value":"br","type":"number","required":true}],"formValue":{"vt":"","yor":"","gb":"","km":"","nrd":"","ft":"","mor":"","br":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":78.5,"y":477.0000066757202,"wires":[["db75dca3.ad129"]]},{"id":"7594063c.b1d8b8","type":"function","z":"6e06d179.232f9","name":"prediction","func":"var token=msg.payload.token;\nvar vt=global.get(\"vt\");\nvar yor=global.get(\"yor\");\nvar gb=global.get(\"gb\");\nvar km=global.get(\"km\");\nvar nrd=global.get(\"nrd\");\nvar ft=global.get(\"ft\");\nvar mor=global.get(\"mor\");\nvar br=global.get(\"br\");\nmsg.payload={\"fields\":[\"vehicleType\",\"year\",\"gearbox\",\"kilometer\",\"norepair\",\"fuel\",\"month\",\"brand\"],\"values\":[[vt,yor,gb,km,nrd,ft,mor,br]]};\nmsg.headers={\"authorization\":\"bearer\"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":216.5,"y":89,"wires":[["b0b6efef.e1f1a"]]},{"id":"1f0ae58c.346d8a","type":"http request","z":"6e06d179.232f9","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":398.5,"y":491,"wires":[["7594063c.b1d8b8"]]},{"id":"b0b6efef.e1f1a","type":"http request","z":"6e06d179.232f9","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c9393959-558f-4840-8e65-2575b7daa003/deployments/c467d66b-3c03-459b-a86c-09474dcdcf1f/online","tls":"","proxy":"","authType":"basic","x":392.50000762939453,"y":161.00000190734863,"wires":[["2ddeef69.bcd5b"]]},{"id":"2ddeef69.bcd5b","type":"function","z":"6e06d179.232f9","name":"parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":616.5,"y":95,"wires":[["1d4c3de5.efb8b2","342488fb.040788"]]},{"id":"342488fb.040788","type":"ui_text","z":"6e06d179.232f9","group":"fd5caeca.21ef4","order":3,"width":0,"height":0,"name":"","label":"predict","format":"{{msg.payload}}","layout":"row-spread","x":892.1000366210938,"y":320,"wires":[]},{"id":"fd5caeca.21ef4","type":"ui_group","z":"","name":"Default","tab":"48cdd864.14c998","disp":true,"width":"6","collapse":false},{"id":"48cdd864.14c998","type":"ui_tab","z":"","name":"predict","icon":"dashboard","disabled":false,"hidden":false}]