AITS Second Batch AI and ML/Assert Failure Prediction/flows.json
[{"id":"6d9cc856.6dfd88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3df9028a.9a152e","type":"http request","z":"6d9cc856.6dfd88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0140ddcd-dad2-4443-bbf5-478cf3ecc0c4/deployments/c86d9f76-4969-4e20-857b-d40626acd28b/online","tls":"","proxy":"","authType":"","x":390,"y":20,"wires":[["d6c30dc3.65791","39876352.e9c1fc"]]},{"id":"ad6f8d08.91656","type":"function","z":"6d9cc856.6dfd88","name":"prediction","func":"var token=msg.payload.token;\nvar tm=global.get(\"tm\");\nvar hm=global.get(\"hm\");\nvar m1=global.get(\"m1\");\nvar m2=global.get(\"m2\");\nvar m3=global.get(\"m3\");\nvar m4=global.get(\"m4\");\nvar m5=global.get(\"m5\");\nmsg.payload={\"fields\":[\"tm\",\"hm\",\"m1\",\"m2\",\"m3\",\"m4\",\"m5\"],\"values\":[[tm,hm,m1,m2,m3,m4,m5]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":229,"y":84,"wires":[["3df9028a.9a152e"]]},{"id":"39876352.e9c1fc","type":"debug","z":"6d9cc856.6dfd88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":20,"wires":[]},{"id":"d0524e89.a583","type":"http request","z":"6d9cc856.6dfd88","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":430,"y":280,"wires":[["9c28a09d.65ff4","ad6f8d08.91656"]]},{"id":"3337dfb6.91d58","type":"inject","z":"6d9cc856.6dfd88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":140,"wires":[["46ad7cf.1a03b84"]]},{"id":"46ad7cf.1a03b84","type":"function","z":"6d9cc856.6dfd88","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"47395f8f-92e2-4777-91aa-c293f043243e\"\nvar password=\"2d2510dc-d02d-4a6d-84d8-43bc61e4c791\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"hm\",msg.payload.hm)\nglobal.set(\"m1\",msg.payload.m1)\nglobal.set(\"m2\",msg.payload.m2)\nglobal.set(\"m3\",msg.payload.m3)\nglobal.set(\"m4\",msg.payload.m4)\nglobal.set(\"m5\",msg.payload.m5)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["d0524e89.a583"]]},{"id":"d6c30dc3.65791","type":"function","z":"6d9cc856.6dfd88","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["39876352.e9c1fc","8b60e5c6.574c48"]]},{"id":"9c28a09d.65ff4","type":"debug","z":"6d9cc856.6dfd88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":769,"y":297,"wires":[]},{"id":"49b1c9fc.3b9158","type":"ui_form","z":"6d9cc856.6dfd88","name":"","label":"","group":"89fb9fd0.99ec7","order":2,"width":0,"height":0,"options":[{"label":"Temperature","value":"tm","type":"number","required":true},{"label":"Humidity","value":"hm","type":"number","required":true},{"label":"Measure 1","value":"m1","type":"number","required":true},{"label":"Measure 2","value":"m2","type":"number","required":true},{"label":"Measure 3","value":"m3","type":"number","required":true},{"label":"Measure 4","value":"m4","type":"number","required":true},{"label":"Measure 5","value":"m5","type":"number","required":true}],"formValue":{"tm":"","hm":"","m1":"","m2":"","m3":"","m4":"","m5":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":76,"y":330,"wires":[["46ad7cf.1a03b84"]]},{"id":"285b92c6.37d9fe","type":"ui_text","z":"6d9cc856.6dfd88","group":"89fb9fd0.99ec7","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":741,"y":229,"wires":[]},{"id":"8b60e5c6.574c48","type":"switch","z":"6d9cc856.6dfd88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":426.5,"y":168,"wires":[["6ee9123b.71c1ec"],["59109bac.0366e4"]]},{"id":"6ee9123b.71c1ec","type":"template","z":"6d9cc856.6dfd88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"No failure","output":"str","x":606.5,"y":156,"wires":[["285b92c6.37d9fe"]]},{"id":"59109bac.0366e4","type":"template","z":"6d9cc856.6dfd88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Failure","output":"str","x":564.5,"y":202,"wires":[["285b92c6.37d9fe"]]},{"id":"89fb9fd0.99ec7","type":"ui_group","z":"6d9cc856.6dfd88","name":"Prediction","tab":"666e3321.0e2b3c","disp":true,"width":"6","collapse":false},{"id":"666e3321.0e2b3c","type":"ui_tab","z":"6d9cc856.6dfd88","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]