AITS First Batch AI and ML/TECH FORMERS/flows.json
[{"id":"8d1bb4c4.317458","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"50fe005c.0a7e1","type":"inject","z":"8d1bb4c4.317458","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":55,"y":156.08720588684082,"wires":[["a88787b2.4c10b8"]]},{"id":"2083f3fb.abcf0c","type":"debug","z":"8d1bb4c4.317458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":682.1916332244873,"y":301.43341064453125,"wires":[]},{"id":"a88787b2.4c10b8","type":"function","z":"8d1bb4c4.317458","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username= \"15b6081f-eb6d-4f0e-bb72-5faebefeb80b\";\nvar password=\"bdafa653-a31d-4526-a193-b1819a3b7e73\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"oy\",msg.payload.oy);\nglobal.set(\"an\",msg.payload.an);\nreturn msg;","outputs":1,"noerr":0,"x":227,"y":271,"wires":[["3b05e6ff.6bc6ba"]]},{"id":"73967df7.b104a4","type":"ui_form","z":"8d1bb4c4.317458","name":"","label":"","group":"f8ca7ccc.4d6f8","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"a","type":"number","required":true},{"label":"Operation_years","value":"oy","type":"number","required":true},{"label":"Axillary Nodes","value":"an","type":"number","required":true}],"formValue":{"a":"","oy":"","an":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":385,"wires":[["a88787b2.4c10b8"]]},{"id":"6b93ed61.996174","type":"function","z":"8d1bb4c4.317458","name":"Prediction","func":"var token=msg.payload.token;\nvar a=global.get(\"a\");\nvar oy=global.get(\"oy\");\nvar an=global.get(\"an\");\nmsg.payload={\"fields\":[\"Age\",\"Operation_years\",\"Axillary Nodes\"],\"values\":[[a,oy,an]]};\nmsg.headers={\"Authorization\":\"bearer\"+token};\nreturn msg;","outputs":1,"noerr":0,"x":194.3946304321289,"y":49.918487548828125,"wires":[["dba57587.662c98"]]},{"id":"dba57587.662c98","type":"http request","z":"8d1bb4c4.317458","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c12f33fb-b64f-4317-9285-40dfc1b58a51/deployments/5cf5c114-bc11-4d49-8e07-6e29c96932fa/online","tls":"","proxy":"","authType":"basic","x":379,"y":20,"wires":[["297fcf33.68a02"]]},{"id":"297fcf33.68a02","type":"function","z":"8d1bb4c4.317458","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":476,"y":137,"wires":[["8963cada.c8db38","cd356880.1221e8"]]},{"id":"cd356880.1221e8","type":"ui_text","z":"8d1bb4c4.317458","group":"f8ca7ccc.4d6f8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-center","x":641,"y":198,"wires":[]},{"id":"8963cada.c8db38","type":"debug","z":"8d1bb4c4.317458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":645,"y":72,"wires":[]},{"id":"3b05e6ff.6bc6ba","type":"http request","z":"8d1bb4c4.317458","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":534.9290313720703,"y":434.54195976257324,"wires":[["2083f3fb.abcf0c","6b93ed61.996174"]]},{"id":"f8ca7ccc.4d6f8","type":"ui_group","z":"","name":"Home","tab":"f929800b.fc69f","disp":true,"width":"6","collapse":false},{"id":"f929800b.fc69f","type":"ui_tab","z":"","name":"Predict","icon":"dashboard","disabled":false,"hidden":false}]