AITS Second Batch AI and ML/Health  Monitoring/Health  Monitoring/flows.json
[{"id":"3aba65a2.8078ba","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6bdf22a3.cea6ac","type":"ui_form","z":"3aba65a2.8078ba","name":"","label":"","group":"1ea72b59.a53875","order":2,"width":0,"height":0,"options":[{"label":"SBP","value":"s","type":"number","required":true},{"label":"DBP","value":"d","type":"number","required":true},{"label":"Pulse","value":"p","type":"number","required":true},{"label":"Temperature","value":"t","type":"number","required":true}],"formValue":{"s":"","d":"","p":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":128.60000610351562,"y":110.80002880096436,"wires":[["73d3e163.27038"]]},{"id":"73d3e163.27038","type":"function","z":"3aba65a2.8078ba","name":"Token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"a27b6592-ad56-428d-9d4d-141a6813cbbe\";\nvar password=\"74998e6e-417f-4530-81fb-2e7f79c5a1b3\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"t\",msg.payload.t)\nreturn msg;","outputs":1,"noerr":0,"x":237.60000610351562,"y":169.20001411437988,"wires":[["6238b664.28ccf8"]]},{"id":"a9574207.672de","type":"http request","z":"3aba65a2.8078ba","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/7e959519-9a96-4386-8922-82d4e0d23afe/deployments/48524983-fbe4-4819-ac38-5d6ab12b3f0d/online","tls":"","proxy":"","authType":"","x":519.6000518798828,"y":395.6000061035156,"wires":[["c39e01df.cb5f2"]]},{"id":"62c1a3dc.65aa4c","type":"function","z":"3aba65a2.8078ba","name":"prediction","func":"var token=msg.payload.token;\nvar s=global.get(\"s\");\nvar d=global.get(\"d\");\nvar p=global.get(\"p\");\nvar t=global.get(\"t\");\nmsg.payload={\"fields\":[\"SBP\",\"DBP\",\"Pulse\",\"Temperature\"],\"values\":[[s,d,p,t]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":377.6000785827637,"y":317.6000051498413,"wires":[["a9574207.672de"]]},{"id":"c39e01df.cb5f2","type":"function","z":"3aba65a2.8078ba","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":623.6000576019287,"y":456.6000556945801,"wires":[["5b9f73d5.9c96bc","307548d.8ca43b8"]]},{"id":"5b9f73d5.9c96bc","type":"ui_text","z":"3aba65a2.8078ba","group":"1ea72b59.a53875","order":3,"width":0,"height":0,"name":"","label":"Predicts","format":"{{msg.payload}}","layout":"row-spread","x":788.6000595092773,"y":522.0000076293945,"wires":[]},{"id":"307548d.8ca43b8","type":"debug","z":"3aba65a2.8078ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840.6000595092773,"y":365.20000553131104,"wires":[]},{"id":"6238b664.28ccf8","type":"http request","z":"3aba65a2.8078ba","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":405.60003662109375,"y":227.60000610351562,"wires":[["62c1a3dc.65aa4c"]]},{"id":"1ea72b59.a53875","type":"ui_group","z":"","name":"Predict","tab":"b0ec75d5.991db8","disp":true,"width":"6","collapse":false},{"id":"b0ec75d5.991db8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]