AITS Second Batch AI and ML/Power Consumption Prediction/The Shield Crew/flows.json
[{"id":"c12756c5.a85ef8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"76834954.1c0b18","type":"ui_form","z":"c12756c5.a85ef8","name":"","label":"","group":"635f7626.90b4c8","order":0,"width":0,"height":0,"options":[{"label":"Global_active_power","value":"ga","type":"number","required":true},{"label":"Global_reactive_power","value":"gr","type":"number","required":true},{"label":"Voltage","value":"vt","type":"number","required":true},{"label":"Global_intensity","value":"gi","type":"number","required":true},{"label":"Sub_metering_1\t","value":"sb1","type":"number","required":true},{"label":"Sub_metering_2","value":"sb2","type":"number","required":true},{"label":"Sub_metering_3","value":"sb3","type":"number","required":true}],"formValue":{"ga":"","gr":"","vt":"","gi":"","sb1":"","sb2":"","sb3":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":25,"wires":[["738ca57e.18983c"]]},{"id":"738ca57e.18983c","type":"function","z":"c12756c5.a85ef8","name":"token","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"76bd58b6-c8c7-4b40-9a7e-b978aea4398a\"\nvar password=\"925a4dce-c56f-4e7b-baa6-cd96c6d1fd39\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ga\",msg.payload.ga)\nglobal.set(\"gr\",msg.payload.gr)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"gi\",msg.payload.gi)\nglobal.set(\"sb1\",msg.payload.sb1)\nglobal.set(\"sb2\",msg.payload.sb2)\nglobal.set(\"sb3\",msg.payload.sb3)\nreturn msg;\n","outputs":1,"noerr":0,"x":185.5,"y":80,"wires":[["2c38c3e6.c2ce4c"]]},{"id":"bce2ea3e.d27028","type":"http request","z":"c12756c5.a85ef8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/34c84d06-9a81-47d3-9ee1-b704e077df9f/deployments/9a5ee1d5-d146-4718-858a-6a7bebfc8a3b/online","tls":"","proxy":"","authType":"","x":575.5,"y":292,"wires":[["7971c22c.c4b55c"]]},{"id":"c989cf66.bde78","type":"function","z":"c12756c5.a85ef8","name":"prediction","func":"var token=msg.payload.token;\nvar ga=global.get(\"ga\");\nvar gr=global.get(\"gr\");\nvar vt=global.get(\"vt\");\nvar gi=global.get(\"gi\");\nvar sb1=global.get(\"sb1\");\nvar sb2=global.get(\"sb2\");\nvar sb3=global.get(\"sb3\");\nmsg.payload={\"fields\":[\"Global_active_power\",\"Global_reactive_power\",\"Voltage \",\"Global_intensity\",\"Sub_metering_1\",\"Sub_metering_2\",\"Sub_metering_3\"],\"values\":[[ga,gr,vt,gi,sb1,sb2,sb3]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":447.5,"y":214.99998474121094,"wires":[["bce2ea3e.d27028"]]},{"id":"7971c22c.c4b55c","type":"function","z":"c12756c5.a85ef8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":703.5,"y":374,"wires":[["b1d852e.a60d9b"]]},{"id":"b1d852e.a60d9b","type":"ui_text","z":"c12756c5.a85ef8","group":"635f7626.90b4c8","order":1,"width":0,"height":0,"name":"","label":"Power Consumed (kilowatts)","format":"{{msg.payload}}","layout":"col-center","x":912.5,"y":440,"wires":[]},{"id":"2c38c3e6.c2ce4c","type":"http request","z":"c12756c5.a85ef8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":313.5,"y":155,"wires":[["c989cf66.bde78"]]},{"id":"635f7626.90b4c8","type":"ui_group","z":"","name":"Project","tab":"8376723b.c2535","disp":true,"width":"6","collapse":false},{"id":"8376723b.c2535","type":"ui_tab","z":"","name":"The Shield Crew","icon":"dashboard","disabled":false,"hidden":false}]