AITS First Batch AI and ML/KingsPins/flows.json
[{"id":"ad52ea31.692fe8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4c50cc78.23a8c4","type":"inject","z":"ad52ea31.692fe8","name":"","topic":"","payload":"Hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":238,"wires":[["9e51e5d4.04ae18"]]},{"id":"a8683785.a84908","type":"debug","z":"ad52ea31.692fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":714,"y":449,"wires":[]},{"id":"9e51e5d4.04ae18","type":"function","z":"ad52ea31.692fe8","name":"Token Generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"6ae8608c-0249-4228-9403-f1863e207a92\"\nvar password=\"6fb8149b-44b3-4dfa-8776-013c567b7043\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"gl\",msg.payload.gl)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"ins\",msg.payload.ins)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"ag\",msg.payload.ag)\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":336,"wires":[["4974148c.3765ac"]]},{"id":"99d80818.9c3fa8","type":"ui_form","z":"ad52ea31.692fe8","name":"","label":"","group":"a29a845b.a3c948","order":0,"width":0,"height":0,"options":[{"label":"Glucose","value":"gl","type":"number","required":true},{"label":"Bloodpressure","value":"bp","type":"number","required":true},{"label":"insulin","value":"ins","type":"number","required":true},{"label":"Bodymassindex","value":"bmi","type":"number","required":true},{"label":"Diabetespedigreefunction","value":"dpf","type":"number","required":true},{"label":"Age","value":"ag","type":"number","required":true}],"formValue":{"gl":"","bp":"","ins":"","bmi":"","dpf":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":78,"y":436,"wires":[["9e51e5d4.04ae18"]]},{"id":"4974148c.3765ac","type":"http request","z":"ad52ea31.692fe8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":494,"y":431,"wires":[["a8683785.a84908","7ac13772.65f6e8"]]},{"id":"7ac13772.65f6e8","type":"function","z":"ad52ea31.692fe8","name":"predection","func":"var token=msg.payload.token;\nvar gl=global.get(\"gl\");\nvar bp=global.get(\"bp\");\nvar ins=global.get(\"ins\");\nvar bmi=global.get(\"bmi\");\nvar dpf=global.get(\"dpf\");\nvar ag=global.get(\"ag\");\nmsg.payload={\"fields\":[\"Glucose\",\"Bloodpressure\",\"Insulin\",\"Bodymassindex\",\"Diabetespedigreefunction\",\"Age\"],\"values\":[[gl,bp,ins,bmi,dpf,ag]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":180.00000190734863,"wires":[["7a269ff0.02f3d"]]},{"id":"7a269ff0.02f3d","type":"http request","z":"ad52ea31.692fe8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/fc2911fd-2df2-4034-a57d-2c2f2dc0d905/deployments/a10e2121-e8ec-4a53-acfe-eeb1a9ddf175/online","tls":"","proxy":"","authType":"basic","x":396.00000381469727,"y":63.00000190734863,"wires":[["20920b8.ee19df4"]]},{"id":"20920b8.ee19df4","type":"function","z":"ad52ea31.692fe8","name":"o/p passing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":570.0000076293945,"y":204.00000286102295,"wires":[["e8fd316e.a8c0f","303b8af6.6f80e6"]]},{"id":"e8fd316e.a8c0f","type":"ui_text","z":"ad52ea31.692fe8","group":"a29a845b.a3c948","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":817.0000095367432,"y":251.00000286102295,"wires":[]},{"id":"303b8af6.6f80e6","type":"debug","z":"ad52ea31.692fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":795.0000114440918,"y":141.00000095367432,"wires":[]},{"id":"a29a845b.a3c948","type":"ui_group","z":"","name":"Predict","tab":"8830fc9.0b7eb","disp":true,"width":"6","collapse":false},{"id":"8830fc9.0b7eb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]