AITS Second Batch AI and ML/Bike Buyer Prediction/New folder/flows (1).json
[{"id":"93a9cdf4.a247d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"87f7b80b.ee8bc8","type":"debug","z":"93a9cdf4.a247d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":440,"wires":[]},{"id":"5fd35d2b.186154","type":"ui_form","z":"93a9cdf4.a247d","name":"","label":"","group":"f3bba1e1.69203","order":0,"width":0,"height":0,"options":[{"label":"YearlyIncome","value":"yi","type":"number","required":true},{"label":"Age","value":"ag","type":"number","required":true}],"formValue":{"yi":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":160,"wires":[["4982105.ac675f"]]},{"id":"1b7888bc.b975e7","type":"http request","z":"93a9cdf4.a247d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/1d54b00d-7771-4e8c-95f0-e2bdd5cd9b27/deployments/081c0568-3a9f-4df3-a300-8cda145f6ae0/online","tls":"","proxy":"","authType":"basic","x":450,"y":440,"wires":[["87f7b80b.ee8bc8","26f464ba.9101ac"]]},{"id":"261625dc.6fad3a","type":"http request","z":"93a9cdf4.a247d","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":150,"y":420,"wires":[["61750fd6.dc041"]]},{"id":"786a2f4b.c8baa","type":"ui_text","z":"93a9cdf4.a247d","group":"f3bba1e1.69203","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":320,"wires":[]},{"id":"4982105.ac675f","type":"function","z":"93a9cdf4.a247d","name":"virajitha","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"3808eabb-3544-42c6-88c3-1ee0deef186f\"\nvar password=\"624c44ab-bb3b-4b53-8cd1-1f3e53daa782\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"yi\",msg.payload.yi)\nglobal.set(\"ag\",msg.payload.ag)\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":300,"wires":[["261625dc.6fad3a"]]},{"id":"61750fd6.dc041","type":"function","z":"93a9cdf4.a247d","name":"function","func":"var token=msg.payload.token;\nvar yi=global.get(\"yi\");\nvar ag=global.get(\"ag\");\nmsg.payload={\"fields\":[\"YearlyIncome\",\"Age\"],\"values\":[[yi,ag]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["1b7888bc.b975e7"]]},{"id":"26f464ba.9101ac","type":"function","z":"93a9cdf4.a247d","name":"pp","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["786a2f4b.c8baa"]]},{"id":"f3bba1e1.69203","type":"ui_group","z":"","name":"prediction","tab":"575503e7.62f79c","disp":true,"width":"6","collapse":false},{"id":"575503e7.62f79c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]