AITS Second Batch AI and ML/University Admission Prediction/flows (1).json
[{"id":"4d50e034.489d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7def9d10.33f5a4","type":"ui_form","z":"4d50e034.489d4","name":"","label":"","group":"be0ac798.d5c9b8","order":2,"width":0,"height":0,"options":[{"label":"GRE Score","value":"gs","type":"number","required":true},{"label":"TOFEL Score","value":"ts","type":"number","required":true},{"label":"University_rating","value":"ur","type":"number","required":true},{"label":"SOP","value":"sop","type":"number","required":true},{"label":"LOR","value":"lor","type":"number","required":true},{"label":"CGPA","value":"gpa","type":"number","required":true},{"label":"Research","value":"res","type":"number","required":true}],"formValue":{"gs":"","ts":"","ur":"","sop":"","lor":"","gpa":"","res":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":102.41873931884766,"y":518.9249143600464,"wires":[["4bf786ed.8c9ac8"]]},{"id":"4bf786ed.8c9ac8","type":"function","z":"4d50e034.489d4","name":"Token Generator","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"685fadee-ff58-4f71-afad-ee166baeb569\";\nvar password=\"80775362-88aa-4774-a387-f3ca9b6c4834\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"gs\",msg.payload.gs)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ur\",msg.payload.ur)\nglobal.set(\"sop\",msg.payload.sop)\nglobal.set(\"lor\",msg.payload.lor)\nglobal.set(\"gpa\",msg.payload.gpa)\nglobal.set(\"res\",msg.payload.res)\nreturn msg;","outputs":1,"noerr":0,"x":258.41249084472656,"y":382.6249475479126,"wires":[["b5816757.9daed8"]]},{"id":"b5816757.9daed8","type":"http request","z":"4d50e034.489d4","name":"get","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":471.41871643066406,"y":323.4936981201172,"wires":[["44b54401.d9d07c"]]},{"id":"44b54401.d9d07c","type":"function","z":"4d50e034.489d4","name":"predict","func":"var token=msg.payload.token;\nvar gs=global.get(\"gs\");\nvar ts=global.get(\"ts\");\nvar ur=global.get(\"ur\");\nvar sop=global.get(\"sop\");\nvar lor=global.get(\"lor\");\nvar gpa=global.get(\"gpa\");\nvar res=global.get(\"res\");\nmsg.payload={\"fields\":[\"GRE Score\",\"TOFEL Score\",\"University_rating\",\"SOP\",\"LOR\",\"CGPA\",\"Research\"],\"values\":[[gs,ts,ur,sop,lor,gpa,res]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":216.42498016357422,"y":178.625,"wires":[["95f39ec9.f9968"]]},{"id":"95f39ec9.f9968","type":"http request","z":"4d50e034.489d4","name":"post","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c95adf1e-b800-41e2-acfd-fd36b972f751/deployments/d60a6489-4eab-4a14-95ac-e14ec42b7b47/online","tls":"","proxy":"","authType":"","x":419.4249725341797,"y":93.49373245239258,"wires":[["354655c8.cc88aa"]]},{"id":"354655c8.cc88aa","type":"function","z":"4d50e034.489d4","name":"op parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":692.4249153137207,"y":126.62499237060547,"wires":[["510df53c.fd6ffc"]]},{"id":"510df53c.fd6ffc","type":"ui_text","z":"4d50e034.489d4","group":"be0ac798.d5c9b8","order":3,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":839.4249572753906,"y":308.91248321533203,"wires":[]},{"id":"be0ac798.d5c9b8","type":"ui_group","z":"","name":"predict","tab":"3ca0a547.1ccd2a","disp":true,"width":"6","collapse":false},{"id":"3ca0a547.1ccd2a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]