AITS Second Batch AI and ML/Quality of wine Prediction/PROJECT/flows (1).json
[{"id":"f3b7d259.9674c","type":"ui_form","z":"fe2129dc.d70d08","name":"","label":"","group":"b9d56576.a13478","order":0,"width":0,"height":0,"options":[{"label":"administration","value":"ad","type":"number","required":true},{"label":"r&d","value":"rd","type":"number","required":true},{"label":"marketing","value":"ma","type":"number","required":true},{"label":"state1","value":"st1","type":"number","required":true},{"label":"state2","value":"st2","type":"number","required":true}],"formValue":{"ad":"","rd":"","ma":"","st1":"","st2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70.5,"y":103,"wires":[["80b21d58.1414a"]]},{"id":"80b21d58.1414a","type":"function","z":"fe2129dc.d70d08","name":"","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"8c5aed8f-51a2-4e30-abf4-96c15ce4b9c3\";\nvar password=\"b7d5a98c-9e69-403b-b18a-4bee3d8fcde3\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ad\",msg.payload.ad);\nglobal.set(\"rd\",msg.payload.rd);\nglobal.set(\"ma\",msg.payload.ma);\nglobal.set(\"st1\",msg.payload.st1);\nglobal.set(\"st2\",msg.payload.st2);\nreturn msg;","outputs":1,"noerr":0,"x":146.5,"y":160,"wires":[["6ba2c26f.e8448c"]]},{"id":"6ba2c26f.e8448c","type":"http request","z":"fe2129dc.d70d08","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":215.5,"y":225,"wires":[["c0ba45f4.934e18"]]},{"id":"6b254c8c.720714","type":"http request","z":"fe2129dc.d70d08","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/fafcac2c-2f4e-4a90-bfa6-5afc54c089db/deployments/67d15d95-2d97-4c48-9f44-65984a1d3cbe/online","tls":"","proxy":"","authType":"","x":412.5,"y":360,"wires":[["61c6cd87.8f5444"]]},{"id":"c0ba45f4.934e18","type":"function","z":"fe2129dc.d70d08","name":"predict","func":"var token=msg.payload.token;\nvar ad=global.get(\"ad\");\nvar rd=global.get(\"rd\");\nvar ma=global.get(\"ma\");\nvar st1=global.get(\"st1\");\nvar st2=global.get(\"st2\");\nmsg.payload={\"fields\":[\"Admimistration\",\"R&D\",\"Marketing\",\"state code\",\"state code1\"],\"values\":[[ad,rd,ma,st1,st2]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":314.5,"y":286,"wires":[["6b254c8c.720714"]]},{"id":"61c6cd87.8f5444","type":"function","z":"fe2129dc.d70d08","name":"parsing","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":508.5,"y":430,"wires":[["9d1a04e0.4c0608"]]},{"id":"9d1a04e0.4c0608","type":"ui_text","z":"fe2129dc.d70d08","group":"b9d56576.a13478","order":1,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}","layout":"row-spread","x":620.5,"y":496,"wires":[]},{"id":"b9d56576.a13478","type":"ui_group","z":"","name":"predict","tab":"2da6c260.a1620e","disp":true,"width":"6","collapse":false},{"id":"2da6c260.a1620e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]