AITS First Batch AI and ML/Golden Flashers/flows.json
[{"id":"36bf2a44.153b56","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a2cacf75.5f4b3","type":"inject","z":"36bf2a44.153b56","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":172,"wires":[["aff4fcbd.675bd"]]},{"id":"aff4fcbd.675bd","type":"function","z":"36bf2a44.153b56","name":"function","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"a7dd3fe7-4b6a-4669-89f3-2e233c3d69c4\"\nvar password=\"263cbe33-61f7-4b0b-983f-38066abc64ee\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"grade\",msg.payload.grade)\nglobal.set(\"offline_pro\",msg.payload.offline_pro)\nglobal.set(\"client_pro\",msg.payload.client_pro)\nglobal.set(\"n_t\",msg.payload.n_t)\nglobal.set(\"s_p\",msg.payload.s_p)\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":259,"wires":[["aa621001.a3b8"]]},{"id":"4f4b45e1.4ce09c","type":"ui_form","z":"36bf2a44.153b56","name":"","label":"","group":"a658b8df.a9ab38","order":0,"width":0,"height":0,"options":[{"label":"Grade of the company","value":"grade","type":"number","required":true},{"label":"No. of offline projects","value":"offline_pro","type":"number","required":true},{"label":"No. of client projects","value":"client_pro","type":"number","required":true},{"label":"Net _turnover","value":"n_t","type":"number","required":true},{"label":"share_price","value":"s_p","type":"number","required":true}],"formValue":{"grade":"","offline_pro":"","client_pro":"","n_t":"","s_p":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":351,"wires":[["aff4fcbd.675bd"]]},{"id":"aa621001.a3b8","type":"http request","z":"36bf2a44.153b56","name":"httpReq1","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":457,"y":343,"wires":[["dcea40c3.879f8","9e6f2629.46c678"]]},{"id":"dcea40c3.879f8","type":"function","z":"36bf2a44.153b56","name":"function1","func":"var token=msg.payload.token;\nvar grade=global.get(\"grade\");\nvar offline_pro=global.get(\"offline_pro\");\nvar client_pro=global.get(\"client_pro\");\nvar n_t=global.get(\"n_t\");\nvar s_p=global.get(\"s_p\");\nmsg.payload={\"fields\":[\"Grade of the company\",\"No. of offline projets\",\"No. of client projects\",\"Net_turnover\",\"share_price\"],\"values\":[[grade,offline_pro,client_pro,n_t,s_p]]};\nmsg.headers={\"Authorization\": \"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":236,"y":97,"wires":[["12e6e76c.36d979"]]},{"id":"12e6e76c.36d979","type":"http request","z":"36bf2a44.153b56","name":"httpReq2","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/783b7f9b-33a6-4da4-840d-3f5a41f82f8c/deployments/479db583-51a2-44a0-b012-447aa00c7efe/online","tls":"","proxy":"","authType":"basic","x":373,"y":43,"wires":[["42029c5f.dd7b24"]]},{"id":"42029c5f.dd7b24","type":"function","z":"36bf2a44.153b56","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":532,"y":213,"wires":[["4065fb1.d6d1604","5a08f586.5ab49c"]]},{"id":"4065fb1.d6d1604","type":"ui_text","z":"36bf2a44.153b56","group":"a658b8df.a9ab38","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":712,"y":261,"wires":[]},{"id":"5a08f586.5ab49c","type":"debug","z":"36bf2a44.153b56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":671,"y":98,"wires":[]},{"id":"9e6f2629.46c678","type":"debug","z":"36bf2a44.153b56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":717,"y":441,"wires":[]},{"id":"a658b8df.a9ab38","type":"ui_group","z":"","name":"predict","tab":"ff60171a.4ed298","disp":true,"width":"6","collapse":false},{"id":"ff60171a.4ed298","type":"ui_tab","z":"","name":"home","icon":"dashboard","disabled":false,"hidden":false}]