AITS Second Batch AI and ML/Heart Disease Prediction/flows.json
[{"id":"29e80c31.3413a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98c1c41.a964038","type":"ui_form","z":"29e80c31.3413a4","name":"","label":"","group":"3fdfedf2.9ab992","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true},{"label":"Cp","value":"cp","type":"number","required":true},{"label":"Sex","value":"sex","type":"number","required":true},{"label":"Trestbps","value":"treatbps","type":"number","required":true},{"label":"Chol ","value":"chol","type":"number","required":true},{"label":"Fps","value":"fps","type":"number","required":true},{"label":"Restecg","value":"restecg","type":"number","required":true},{"label":"Thalach","value":"thalach","type":"number","required":true},{"label":"Exang","value":"exang","type":"number","required":true},{"label":"Oldpeak","value":"oldpeak","type":"number","required":true},{"label":"Slope","value":"slope","type":"number","required":true},{"label":"Thal","value":"thal","type":"number","required":true},{"label":"Ca","value":"ca","type":"number","required":true}],"formValue":{"age":"","cp":"","sex":"","treatbps":"","chol":"","fps":"","restecg":"","thalach":"","exang":"","oldpeak":"","slope":"","thal":"","ca":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":257,"wires":[["6932a4e6.aeb9cc"]]},{"id":"6932a4e6.aeb9cc","type":"function","z":"29e80c31.3413a4","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"59e45a5b-613b-4652-ae56-7bb13c9e5a2e\"\nvar password=\"4d2e62c5-ba46-43b1-81bc-8274780232c1\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"cp\",msg.payload.cp)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"treatbps\",msg.payload.treatbps)\nglobal.set(\"chol\",msg.payload.chol)\nglobal.set(\"fps\",msg.payload.fps)\nglobal.set(\"restecg\",msg.payload.restecg)\nglobal.set(\"thalach\",msg.payload.thalach)\nglobal.set(\"exang\",msg.payload.exang)\nglobal.set(\"oldpeak\",msg.payload.oldpeak)\nglobal.set(\"slope\",msg.payload.slope)\nglobal.set(\"thal\",msg.payload.thal)\nglobal.set(\"ca\",msg.payload.ca)\nreturn msg;","outputs":1,"noerr":0,"x":186,"y":339,"wires":[["fbdf8597.f609f8"]]},{"id":"fbdf8597.f609f8","type":"http request","z":"29e80c31.3413a4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":366,"y":446,"wires":[["d52d1014.c26e3"]]},{"id":"d52d1014.c26e3","type":"function","z":"29e80c31.3413a4","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar cp=global.get(\"cp\");\nvar sex=global.get(\"sex\");\nvar treatbps=global.get(\"treatbps\");\nvar chol=global.get(\"chol\");\nvar fps=global.get(\"fps\");\nvar restecg=global.get(\"restecg\");\nvar thalach=global.get(\"thalach\");\nvar exang=global.get(\"exang\");\nvar oldpeak=global.get(\"oldpeak\");\nvar slope=global.get(\"slope\");\nvar thal=global.get(\"thal\");\nvar ca=global.get(\"ca\");\nmsg.payload={\"fields\":[\"Age\",\"Cp\",\"Fps\",\"Treatbps\",\"Chol\",\"Fps\",\"Restecg\",\"Thalach\",\"Exang\",\"Oldpeak\",\"Slope\",\"Thal\",\"ca\"],\"values\":[[age,cp,sex,treatbps,chol,fps,restecg,thalach,exang,oldpeak,slope,thal,ca]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":255,"y":143,"wires":[["bc29536.8e3a7b"]]},{"id":"bc29536.8e3a7b","type":"http request","z":"29e80c31.3413a4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2c721c41-869e-4633-9ec2-b0bd0dbb1246/deployments/76be9472-7be8-477b-9c93-0fa1a43d0e34/online","tls":"","proxy":"","authType":"","x":426,"y":97,"wires":[["ff363541.2997f8"]]},{"id":"ff363541.2997f8","type":"function","z":"29e80c31.3413a4","name":"output parsing","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":226,"wires":[["b6d659f3.0cb0b8","ac98df8.1a0412"]]},{"id":"b6d659f3.0cb0b8","type":"debug","z":"29e80c31.3413a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":665,"y":171,"wires":[]},{"id":"ac98df8.1a0412","type":"switch","z":"29e80c31.3413a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"o","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":359,"wires":[["5dc29ea7.d12f1"],["698e404b.0667e"]]},{"id":"698e404b.0667e","type":"template","z":"29e80c31.3413a4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Person Dont have Any Heart Disease ","output":"str","x":825,"y":439,"wires":[["b865f7c7.68c4e8"]]},{"id":"5dc29ea7.d12f1","type":"template","z":"29e80c31.3413a4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Person Has Heart Disease\n","output":"str","x":821,"y":241,"wires":[["b865f7c7.68c4e8"]]},{"id":"b865f7c7.68c4e8","type":"ui_text","z":"29e80c31.3413a4","group":"3fdfedf2.9ab992","order":1,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}","layout":"row-spread","x":897,"y":327,"wires":[]},{"id":"cec6110a.269da","type":"debug","z":"29e80c31.3413a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":727,"y":517,"wires":[]},{"id":"3fdfedf2.9ab992","type":"ui_group","z":"","name":"Predict","tab":"317d79a8.62a036","disp":true,"width":"6","collapse":false},{"id":"317d79a8.62a036","type":"ui_tab","z":"","name":"Heart Disese Prediction","icon":"dashboard","disabled":false,"hidden":false}]