AITS Second Batch AI and ML/Predicting Readmission-Diabets/project final/flows (1).json
[{"id":"a55f0650.124648","type":"function","z":"b1dd8d8f.aabf","name":"","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"d8ff3c81-04be-475e-9f12-c04b057b8b9d\";\nvar password=\"f4fc98fd-5272-4a31-b4f7-3c7a42b388fb\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ddi\",msg.payload.ddi)\nglobal.set(\"asi\",msg.payload.asi)\nglobal.set(\"tih\",msg.payload.tih)\nglobal.set(\"nlp\",msg.payload.nlp)\nglobal.set(\"np\",msg.payload.np)\nglobal.set(\"nm\",msg.payload.nm)\nglobal.set(\"no\",msg.payload.no)\nglobal.set(\"ne\",msg.payload.ne)\nglobal.set(\"ni\",msg.payload.ni)\nglobal.set(\"nd\",msg.payload.nd)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"d1\",msg.payload.d1)\nglobal.set(\"d2\",msg.payload.d2)\nglobal.set(\"d3\",msg.payload.d3)\nglobal.set(\"mga\",msg.payload.mga)\nglobal.set(\"a1\",msg.payload.a1)\nglobal.set(\"met\",msg.payload.met)\nglobal.set(\"rep\",msg.payload.rep)\nglobal.set(\"nat\",msg.payload.nat)\nglobal.set(\"chl\",msg.payload.chl)\nglobal.set(\"gli\",msg.payload.gli)\nglobal.set(\"ace\",msg.payload.ace)\nglobal.set(\"glip\",msg.payload.gli)\nglobal.set(\"gly\",msg.payload.gly)\nglobal.set(\"tolb\",msg.payload.tolb)\nglobal.set(\"pio\",msg.payload.pio)\nglobal.set(\"rosi\",msg.payload.rosi)\nglobal.set(\"aca\",msg.payload.aca)\nglobal.set(\"mig\",msg.payload.mig)\nglobal.set(\"tro\",msg.payload.tro)\nglobal.set(\"tola\",msg.payload.tola)\nglobal.set(\"exa\",msg.payload.exa)\nglobal.set(\"glymet\",msg.payload.glymet)\nglobal.set(\"glipmet\",msg.payload.glimet)\nglobal.set(\"glipio\",msg.payload.glipio)\nglobal.set(\"metrosi\",msg.payload.metrosi)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"dm\",msg.payload.dm)\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":342,"wires":[["7c3ed1e6.f916e"]]},{"id":"fe91e090.6a22d","type":"function","z":"b1dd8d8f.aabf","name":"","func":"var token=msg.payload.token;\nvar ddi=global.set(\"ddi\")\nvar asi=global.set(\"asi\")\nvar tih=global.set(\"tih\")\nvar nlp=global.set(\"nlp\")\nvar np=global.set(\"np\")\nvar nm=global.set(\"nm\")\nvar no=global.set(\"no\")\nvar ne=global.set(\"ne\")\nvar nl=global.set(\"ni\")\nvar nd=global.set(\"nd\")\nvar r=global.set(\"r\")\nvar g=global.set(\"g\")\nvar a=global.set(\"a\")\nvar d1=global.set(\"d1\")\nvar d2=global.set(\"d2\")\nvar d3=global.set(\"d3\")\nvar mga=global.set(\"mga\")\nvar a1=global.set(\"a1\")\nvar met=global.set(\"met\")\nvar rep=global.set(\"rep\")\nvar nat=global.set(\"nat\")\nvar chl=global.set(\"chl\")\nvar gli=global.set(\"gli\")\nvar ace=global.set(\"ace\")\nvar glip=global.set(\"glip\")\nvar gly=global.set(\"gly\")\nvar tolb=global.set(\"tolb\")\nvar pio=global.set(\"pio\")\nvar rosi=global.set(\"rosi\")\nvar aca=global.set(\"aca\")\nvar mig=global.set(\"mig\")\nvar tro=global.set(\"tro\")\nvar tola=global.set(\"tola\")\nvar exa=global.set(\"exa\")\nvar glymet=global.set(\"glymet\")\nvar glipmet=global.set(\"glipmet\")\nvar glipio=global.set(\"glipio\")\nvar metrosi=global.set(\"metrosi\")\nvar ch=global.set(\"ch\")\nvar dm=global.set(\"dm\")\nmsg.payload={\"fields\":['discharge_disposition_id',\n 'admission_source_id',\n 'time_in_hospital',\n 'num_lab_procedures',\n 'num_procedures',\n 'num_medications',\n 'number_outpatient',\n 'number_emergency',\n 'number_inpatient',\n 'number_diagnoses',\n 'race',\n 'gender_Female',\n 'age',\n 'diag_1',\n 'diag_2',\n 'diag_3',\n 'max_glu_serum',\n 'A1Cresult',\n 'metformin',\n 'repaglinide',\n 'nateglinide',\n 'chlorpropamide',\n 'glimepiride',\n 'acetohexamide',\n 'glipizide',\n 'glyburide',\n 'tolbutamide',\n 'pioglitazone',\n 'rosiglitazone',\n 'acarbose',\n 'miglitol',\n 'troglitazone',\n 'troglitazone',\n 'tolazamide',\n 'tolazamide',\n 'tolazamide',\n 'examide',\n 'citoglipton',\n 'insulin',\n 'glyburide-metformin',\n 'glipizide-metformin',\n 'glimepiride-pioglitazone',\n 'metformin-rosiglitazone',\n 'metformin-pioglitazone',\n 'change',\n 'diabetesMed'],\"values\":[[ddi,asi,tih,nlp,np,nm,no,ne,ni,nd,r,g,a,d1,d2,d3,mga,a1,met,rep,nat,chl,gli,ace,glip,gly,tolb,pio,rosi,aca,mig,tro,tola,exa,glymet,glipmet,glipio,metrosi,ch,dm]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":207,"wires":[["f680cbe3.91aeb8"]]},{"id":"4b513e21.f499","type":"function","z":"b1dd8d8f.aabf","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":722,"y":173,"wires":[["87c4f002.c1fa2","c406468e.1e72c8"]]},{"id":"7c3ed1e6.f916e","type":"http request","z":"b1dd8d8f.aabf","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/token","tls":"","proxy":"","authType":"","x":316.5,"y":262,"wires":[["fe91e090.6a22d"]]},{"id":"f680cbe3.91aeb8","type":"http request","z":"b1dd8d8f.aabf","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d7eb8c7f-f193-4eaf-8474-ea243a7b6b69/deployments/0db9b0a1-2352-400c-b5a3-e84acda35ae3/online","tls":"","proxy":"","authType":"","x":580.5,"y":171,"wires":[["4b513e21.f499"]]},{"id":"87c4f002.c1fa2","type":"ui_text","z":"b1dd8d8f.aabf","group":"c3653974.828408","order":1,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}","layout":"row-spread","x":781.5,"y":322,"wires":[]},{"id":"c406468e.1e72c8","type":"debug","z":"b1dd8d8f.aabf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":723,"y":70,"wires":[]},{"id":"c3653974.828408","type":"ui_group","z":"","name":"harish","tab":"7d6b394d.b68228","disp":true,"width":"6","collapse":false},{"id":"7d6b394d.b68228","type":"ui_tab","z":"","name":"reddy","icon":"dashboard","disabled":false,"hidden":false}]