AITS First Batch AI and ML/Sparkle/flows.json
[{"id":"3c3904d5.385c6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c9cc6e46.16db7","type":"inject","z":"3c3904d5.385c6c","name":"","topic":"","payload":"Anand","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["b14bae3f.53038"]]},{"id":"299de108.0d20ce","type":"debug","z":"3c3904d5.385c6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":280,"wires":[]},{"id":"b14bae3f.53038","type":"function","z":"3c3904d5.385c6c","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"23f85ee3-06cf-42d7-b7a1-ebe6ec1a3581\";\nvar password=\"e78a4c17-1c49-48aa-bd17-8084322389de\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"r\",msg.payload.r)\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":400,"wires":[["28abcc15.1ed724"]]},{"id":"967b9627.16cd58","type":"ui_form","z":"3c3904d5.385c6c","name":"","label":"","group":"2c3e5e85.da85e2","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"a","type":"number","required":true},{"label":"Sex","value":"s","type":"number","required":true},{"label":"BMI","value":"b","type":"number","required":true},{"label":"Childern","value":"c","type":"number","required":true},{"label":"Smoker","value":"sm","type":"number","required":true},{"label":"Region","value":"r","type":"number","required":true}],"formValue":{"a":"","s":"","b":"","c":"","sm":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":520,"wires":[["b14bae3f.53038"]]},{"id":"28abcc15.1ed724","type":"http request","z":"3c3904d5.385c6c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":330,"y":520,"wires":[["8ac5f57c.d9d908","34a56464.d8568c"]]},{"id":"8ac5f57c.d9d908","type":"function","z":"3c3904d5.385c6c","name":"prediction","func":"var token=msg.payload.token;\nvar a=global.get(\"a\");\nvar s=global.get(\"s\");\nvar b=global.get(\"b\");\nvar c=global.get(\"c\");\nvar sm=global.get(\"sm\");\nvar r=global.get(\"r\");\nmsg.payload={\"field\":[\"Age\",\"Sex\",\"BMI\",\"Childern\",\"Smoker\",\"Region\"],\"values\":[[a,s,b,c,sm,r]]};\nmsg.headers={\"Authorization\":\"bearer\"+token};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["3b7b121a.9a8bae"]]},{"id":"3b7b121a.9a8bae","type":"http request","z":"3c3904d5.385c6c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c3a9042c-bc71-437a-834e-adaef0f6ea95/deployments/812938ec-d6a5-4f16-bc80-b64cad5176a9/online","tls":"","proxy":"","authType":"basic","x":550,"y":520,"wires":[["d6a5d236.8c605"]]},{"id":"d6a5d236.8c605","type":"function","z":"3c3904d5.385c6c","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["76c11ce6.0fcf64","299de108.0d20ce"]]},{"id":"76c11ce6.0fcf64","type":"ui_text","z":"3c3904d5.385c6c","group":"2c3e5e85.da85e2","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":520,"wires":[]},{"id":"34a56464.d8568c","type":"debug","z":"3c3904d5.385c6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":620,"wires":[]},{"id":"2c3e5e85.da85e2","type":"ui_group","z":"","name":"predict","tab":"27baaecc.21de62","disp":true,"width":"6","collapse":false},{"id":"27baaecc.21de62","type":"ui_tab","z":"","name":"predect","icon":"dashboard","disabled":false,"hidden":false}]