AITS Second Batch AI and ML/Black Friday sales prediction/flows.json
[{"id":"7a20a36a.a0d19c","type":"tab","label":"Flow 2","disabled":false,"info":"ms."},{"id":"f9ef2b5e.b52048","type":"inject","z":"7a20a36a.a0d19c","name":"","topic":"naveen","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":546.5,"y":129.00000762939453,"wires":[[]]},{"id":"ff99ce60.4d618","type":"ui_form","z":"7a20a36a.a0d19c","name":"","label":"","group":"ed1a7d3a.5f7ea","order":2,"width":0,"height":0,"options":[{"label":"User ID\t","value":"ud","type":"number","required":true},{"label":"Product ID","value":"pd","type":"number","required":true},{"label":"Gender","value":"gr","type":"number","required":true},{"label":"Age","value":"ag","type":"number","required":true},{"label":"Occupation","value":"oc","type":"number","required":true},{"label":"Current_city","value":"cc","type":"number","required":true},{"label":"Martinal status","value":"ms","type":"number","required":true},{"label":"Product_category-1","value":"pc1","type":"number","required":true},{"label":"Product_category-2","value":"pc2","type":"number","required":true},{"label":"Product_category-3","value":"pc3","type":"number","required":true}],"formValue":{"ud":"","pd":"","gr":"","ag":"","oc":"","cc":"","ms":"","pc1":"","pc2":"","pc3":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":197.5,"y":61.0000057220459,"wires":[["87102270.7ba06"]]},{"id":"649e6cb2.1abdc4","type":"http request","z":"7a20a36a.a0d19c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/7f74eab9-c4f6-44c0-9343-eb3385fd98af/deployments/1a4cf3e4-46b4-4539-b24a-2d3006afe42b/onlinehttps://eu-gb.ml.cloud.ibm.com/v3/wml_instances/7f74eab9-c4f6-44c0-9343-eb3385fd98af/deployments/1a4cf3e4-46b4-4539-b24a-2d3006afe42b/online","tls":"","proxy":"","authType":"","x":578.5,"y":375,"wires":[["f335877d.70b018"]]},{"id":"24571286.d9477e","type":"function","z":"7a20a36a.a0d19c","name":"prediction","func":"var token=msg.payload.token;\nvar ud=global.get(\"ud\");\nvar pd=global.get(\"pd\");\nvar gr=global.get(\"gr\");\nvar ag=global.get(\"ag\");\nvar oc=global.get(\"oc\");\nvar cc=global.get(\"cc\");\nvar ms=global.get(\"ms\");\nvar pc1=global.get(\"pc1\");\nvar pc2=global.get(\"pc2\");\nvar pc3=global.get(\"pc3\")\nmsg.payload={\"fields\":[\"User ID\",\"Product ID\",\"Gender\",\"Age\",\"Occupation\",\"Current_city\",\"Martinal status\",\"Product_category-1\",\"Product_category-2\",\"Product_category-3\"],\"values\":[[ud,pd,gr,ag,oc,cc,ms,pc1,pc2,pc3]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":471.5,"y":297,"wires":[["649e6cb2.1abdc4"]]},{"id":"8741ec11.4dd77","type":"http request","z":"7a20a36a.a0d19c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":399.5,"y":209,"wires":[["24571286.d9477e"]]},{"id":"f335877d.70b018","type":"function","z":"7a20a36a.a0d19c","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":761.5,"y":343,"wires":[["98457172.a846b"]]},{"id":"5ca40204.b9c0fc","type":"debug","z":"7a20a36a.a0d19c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1027.2734985351562,"y":99.30476188659668,"wires":[]},{"id":"87102270.7ba06","type":"function","z":"7a20a36a.a0d19c","name":"token","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"241a7fa2-a755-4b49-ac8f-af7ed994c904\"\nvar password=\"8f5e259b-c0db-43f1-99ec-c1f02291025a\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ud\",msg.payload.ud)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"gr\",msg.payload.gr)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"oc\",msg.payload.oc)\nglobal.set(\"cc\",msg.payload.cc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pc1\",msg.payload.pc1)\nglobal.set(\"pc2\",msg.payload.pc2)\nglobal.set(\"pc3\",msg.payload.pc3)\nreturn msg; ","outputs":1,"noerr":0,"x":311.28125,"y":125.5859375,"wires":[["8741ec11.4dd77"]]},{"id":"98457172.a846b","type":"ui_text","z":"7a20a36a.a0d19c","group":"ed1a7d3a.5f7ea","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":897.2890625,"y":386.4375,"wires":[]},{"id":"ed1a7d3a.5f7ea","type":"ui_group","z":"","name":"naveen","tab":"9919fe47.accb9","disp":true,"width":"6","collapse":false},{"id":"9919fe47.accb9","type":"ui_tab","z":"","name":"naveen","icon":"dashboard","disabled":false,"hidden":false}]