AITS Second Batch AI and ML/Adult Census Income/flows.json
[{"id":"c7dc35d2.0095a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"316084b9.fc316c","type":"ui_form","z":"c7dc35d2.0095a8","name":"","label":"","group":"648990ab.daf71","order":2,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true},{"label":"Final Weight","value":"wg","type":"number","required":true},{"label":"Education.Num","value":"edu","type":"number","required":true},{"label":"Maritalstatus","value":"mari","type":"number","required":true},{"label":"Sex","value":"sex","type":"number","required":true},{"label":"Capital Gain","value":"gain","type":"number","required":true},{"label":"Capital Loss","value":"loss","type":"number","required":true},{"label":"Hours per week","value":"hours","type":"number","required":true}],"formValue":{"age":"","wg":"","edu":"","mari":"","sex":"","gain":"","loss":"","hours":""},"payload":"","submit":"submit","cancel":"cancel","topic":"Adult Census Income Prediction","x":90,"y":260,"wires":[["36c6810f.93673e"]]},{"id":"36c6810f.93673e","type":"function","z":"c7dc35d2.0095a8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"6a2f90ac-e4c5-43cb-84e9-cddb4fbfc97d\"\nvar password=\"75f67700-74ff-42c9-8539-c61ab82f9d7a\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"wg\",msg.payload.wg)\nglobal.set(\"edu\",msg.payload.edu)\nglobal.set(\"mari\",msg.payload.mari)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"gain\",msg.payload.gain)\nglobal.set(\"loss\",msg.payload.loss)\nglobal.set(\"hours\",msg.payload.hours)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["c42eaedd.4f633"]]},{"id":"c42eaedd.4f633","type":"http request","z":"c7dc35d2.0095a8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":410,"y":400,"wires":[["9e9c1991.ffcf88","a1294d0b.b3ea2"]]},{"id":"9e9c1991.ffcf88","type":"function","z":"c7dc35d2.0095a8","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar wg=global.get(\"wg\");\nvar edu=global.get(\"edu\");\nvar mari=global.get(\"mari\");\nvar sex=global.get(\"sex\");\nvar gain=global.get(\"gain\");\nvar loss=global.get(\"loss\");\nvar hours=global.get(\"hours\");\nmsg.payload={\"fields\":[\"Age\",\"Final Weight\",\"Education\",\"Maritalstatus\",\"Sex\",\"Capital Gain\",\"Capital Loss\",\"Hours per week\"],\"values\":[[age,wg,edu,mari,sex,gain,loss,hours]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["97d7e315.599af"]]},{"id":"97d7e315.599af","type":"http request","z":"c7dc35d2.0095a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/fc67a3b9-0329-4d5e-b224-b73682d2fa40/deployments/a1a08bdf-0923-417b-8b9f-0a159028985c/online","tls":"","proxy":"","authType":"","x":440,"y":80,"wires":[["85fc8d22.aa566"]]},{"id":"85fc8d22.aa566","type":"function","z":"c7dc35d2.0095a8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["22fa1470.72620c","86e0757.5be9a88"]]},{"id":"c546ac29.fbf9f","type":"ui_text","z":"c7dc35d2.0095a8","group":"648990ab.daf71","order":3,"width":0,"height":0,"name":"","label":"Income","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":280,"wires":[]},{"id":"a1294d0b.b3ea2","type":"debug","z":"c7dc35d2.0095a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":480,"wires":[]},{"id":"22fa1470.72620c","type":"debug","z":"c7dc35d2.0095a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"86e0757.5be9a88","type":"switch","z":"c7dc35d2.0095a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":280,"wires":[["afb5c053.52eae"],["7ea55a03.27bd94"]]},{"id":"afb5c053.52eae","type":"template","z":"c7dc35d2.0095a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":">50K\n","output":"str","x":780,"y":200,"wires":[["c546ac29.fbf9f"]]},{"id":"7ea55a03.27bd94","type":"template","z":"c7dc35d2.0095a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<=50k","output":"str","x":780,"y":340,"wires":[["c546ac29.fbf9f"]]},{"id":"648990ab.daf71","type":"ui_group","z":"","name":"predict","tab":"1669f3d5.c7628c","disp":true,"width":"6","collapse":false},{"id":"1669f3d5.c7628c","type":"ui_tab","z":"","name":"Adult Census Income","icon":"dashboard","disabled":false,"hidden":false}]