AITS Second Batch AI and ML/Resale Values of Predicting Cars/flows.json
[{"id":"2c780b83.cf25a4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"282166b2.9a190a","type":"debug","z":"2c780b83.cf25a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":463.5,"y":71,"wires":[]},{"id":"e79d7f26.2139d","type":"function","z":"2c780b83.cf25a4","name":"f11","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4d5894d1-b2ad-4d09-83f1-5dc9d28d34fa\";\nvar password=\"87c4821b-d224-4ad3-8fdf-38fd345333e5\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"b1\",msg.payload.b1)\nglobal.set(\"b2\",msg.payload.b2)\nglobal.set(\"b3\",msg.payload.b3)\nglobal.set(\"b4\",msg.payload.b4)\nglobal.set(\"b5\",msg.payload.b5)\nglobal.set(\"yrg\",msg.payload.yrg)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mor\",msg.payload.mor)\n\nreturn msg;","outputs":1,"noerr":0,"x":130.5,"y":147,"wires":[["479dd1db.22e3a"]]},{"id":"4d35bb05.c65524","type":"function","z":"2c780b83.cf25a4","name":"f2","func":"var token=msg.payload.token;\nvar b1=global.get(\"b1\");\nvar b2=global.get(\"b2\");\nvar b3=global.get(\"b3\");\nvar b4=global.get(\"b4\");\nvar b5=global.get(\"b5\");\nvar yrg=global.get(\"yrg\");\nvar km=global.get(\"km\");\nvar mor=global.get(\"mor\");\nmsg.payload={\"fields\":[\"Brand1\",\"Brand2\",\"Brand3\",\"Brand4\",\"Brand5\",\"Year_of_registration\",\"Kilometer\",\"Month_of_registration\"],\"values\":[[b1,b2,b3,b4,b5,yrg,km,mor]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":387.5,"y":277,"wires":[["d6d25ff7.5c0a4"]]},{"id":"479dd1db.22e3a","type":"http request","z":"2c780b83.cf25a4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":206.5,"y":258,"wires":[["4d35bb05.c65524"]]},{"id":"d6d25ff7.5c0a4","type":"http request","z":"2c780b83.cf25a4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f26f78d1-df19-499f-9855-bfb678ef66e5/deployments/7879d170-ca0c-48b2-9466-bc703d314c3d/online'","tls":"","proxy":"","authType":"","x":607.5,"y":231,"wires":[["b8bba493.293a88"]]},{"id":"52932987.3d57c8","type":"ui_text","z":"2c780b83.cf25a4","group":"ff0f668e.7408d8","order":3,"width":0,"height":0,"name":"","label":"OUTPUT","format":"{{msg.payload}}","layout":"row-spread","x":697.5,"y":428,"wires":[]},{"id":"c4f86fa3.1615a","type":"ui_form","z":"2c780b83.cf25a4","name":"","label":"","group":"ff0f668e.7408d8","order":2,"width":0,"height":0,"options":[{"label":"Brand1","value":"b1","type":"number","required":true},{"label":"Brand2","value":"b2","type":"number","required":true},{"label":"Brand3","value":"b3","type":"number","required":true},{"label":"Brand4","value":"b4","type":"number","required":true},{"label":"Brand5","value":"b5","type":"number","required":true},{"label":"Year_of_Registration","value":"yrg","type":"number","required":true},{"label":"Kilometer","value":"km","type":"number","required":true},{"label":"Month_of_ Registration","value":"mor","type":"number","required":true}],"formValue":{"b1":"","b2":"","b3":"","b4":"","b5":"","yrg":"","km":"","mor":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":62.5,"y":67,"wires":[["e79d7f26.2139d"]]},{"id":"b8bba493.293a88","type":"function","z":"2c780b83.cf25a4","name":"f3","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":707.5,"y":290,"wires":[["52932987.3d57c8"]]},{"id":"ff0f668e.7408d8","type":"ui_group","z":"","name":"Prediction","tab":"5337885f.3791f8","disp":true,"width":"6","collapse":false},{"id":"5337885f.3791f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]