AITS Second Batch AI and ML/Insurance Purchase Prediction/project/flows.json
[{"id":"2315ab64.d996b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5fbaf9b9.8fed68","type":"debug","z":"2315ab64.d996b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":100,"wires":[]},{"id":"8df0118b.67a57","type":"ui_form","z":"2315ab64.d996b4","name":"","label":"","group":"94fd6acd.edcaa8","order":0,"width":0,"height":0,"options":[{"label":"age","value":"ag","type":"number","required":true},{"label":"sex","value":"se","type":"number","required":true},{"label":"bmi","value":"bm","type":"number","required":true},{"label":"children","value":"ch","type":"number","required":true},{"label":"smoker","value":"sm","type":"number","required":true},{"label":"region","value":"re","type":"number","required":true}],"formValue":{"ag":"","se":"","bm":"","ch":"","sm":"","re":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":157,"y":330,"wires":[["af7590fa.ceae"]]},{"id":"af7590fa.ceae","type":"function","z":"2315ab64.d996b4","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username= \"4a5c8a89-50ef-4ff7-ba4e-8244a3d4a6eb\"\nvar password=\"4a29bcc0-52e5-4f38-9605-1c3d087f4125\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"re\",msg.payload.re)\nreturn msg;","outputs":1,"noerr":0,"x":284.5,"y":236,"wires":[["97b2bf6a.d6ac2"]]},{"id":"97b2bf6a.d6ac2","type":"http request","z":"2315ab64.d996b4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":355,"y":309,"wires":[["25d97a0b.719ab6"]]},{"id":"b7206f20.17992","type":"http request","z":"2315ab64.d996b4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/af685514-d3f4-4555-8b63-58c683e69624/deployments/56f5a437-a9ba-4e06-9d8b-16eb27585833/online","tls":"","proxy":"","authType":"","x":662,"y":239,"wires":[["8aef8fa8.85bea","5fbaf9b9.8fed68"]]},{"id":"25d97a0b.719ab6","type":"function","z":"2315ab64.d996b4","name":"prediction","func":"var token=msg.payload.token;\nvar ag=global.get(\"ag\");\nvar se=global.get(\"se\");\nvar bm=global.get(\"bm\");\nvar ch=global.get(\"ch\");\nvar sm=global.get(\"sm\");\nvar re=global.get(\"re\");\nmsg.payload={\"fields\":[\"age\",\"sex\",\"bmi\",\"children\",\"smoker\",\"region\"],\"values\":[[ag,se,bm,ch,sm,re]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":182,"wires":[["b7206f20.17992"]]},{"id":"7b3e8dd4.1464d4","type":"ui_text","z":"2315ab64.d996b4","group":"94fd6acd.edcaa8","order":0,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":844,"y":355,"wires":[]},{"id":"8aef8fa8.85bea","type":"function","z":"2315ab64.d996b4","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":350,"wires":[["7b3e8dd4.1464d4"]]},{"id":"94fd6acd.edcaa8","type":"ui_group","z":"","name":"predicts","tab":"173006a6.b1f449","disp":true,"width":"6","collapse":false},{"id":"173006a6.b1f449","type":"ui_tab","z":"","name":"recon","icon":"dashboard","disabled":false,"hidden":false}]