AITS First Batch AI and ML/CALLBACK CATS/flows.json
[{"id":"a5af65d6.5b89b8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"7d0640fc.69e1e","type":"inject","z":"a5af65d6.5b89b8","name":"","topic":"","payload":"Hello swathi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.16667175292969,"y":381.0000114440918,"wires":[["17110939.583067"]]},{"id":"2f0ab472.0e002c","type":"debug","z":"a5af65d6.5b89b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":831.1666870117188,"y":65.00004386901855,"wires":[]},{"id":"17110939.583067","type":"function","z":"a5af65d6.5b89b8","name":"token genaration","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"e05a4379-0c37-44ec-b760-6c7d5be721ff\";\nvar password=\"106396e9-eb10-4257-813f-2a5b1ae010f1\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"rd\",msg.payload.rd)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"st1\",msg.payload.st1)\nglobal.set(\"st2\",msg.payload.st2)\nreturn msg;\n","outputs":1,"noerr":0,"x":366.1666946411133,"y":447.0000114440918,"wires":[["b059a35f.c44ce"]]},{"id":"2dcdfa69.33b2d6","type":"ui_form","z":"a5af65d6.5b89b8","name":"","label":"","group":"c69c1ead.f0fce","order":0,"width":0,"height":0,"options":[{"label":"Administration","value":"ad","type":"number","required":true},{"label":"R&D","value":"rd","type":"number","required":true},{"label":"Marketing","value":"ma","type":"number","required":true},{"label":"State code","value":"st1","type":"number","required":true},{"label":"State code1","value":"st2","type":"number","required":true}],"formValue":{"ad":"","rd":"","ma":"","st1":"","st2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":161.16669464111328,"y":567.6666774749756,"wires":[["17110939.583067"]]},{"id":"b059a35f.c44ce","type":"http request","z":"a5af65d6.5b89b8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":426.1666793823242,"y":235.6666717529297,"wires":[["48886de7.383c94"]]},{"id":"48886de7.383c94","type":"function","z":"a5af65d6.5b89b8","name":"prediction","func":"var token=msg.payload.token;\nvar ad=global.get(\"ad\");\nvar rd=global.get(\"rd\");\nvar ma=global.get(\"ma\");\nvar st1=global.get(\"st1\");\nvar st2=global.get(\"st2\");\nmsg.payload={\"fields\":[\"Administration\",\"R&D\",\"Marketing\",\"State code\",\"State code1\"],\"values\":[[ad,rd,ma,st1,st2]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":204.16669082641602,"y":108.66667175292969,"wires":[["cbb1cb1a.34e508"]]},{"id":"cbb1cb1a.34e508","type":"http request","z":"a5af65d6.5b89b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/1de09ace-597a-4efc-8cd8-0060c9e08424/deployments/76a3f2de-5d80-4e22-84f2-abe4ba7d3e0f/online","tls":"","proxy":"","authType":"basic","x":416.1666793823242,"y":33.66667366027832,"wires":[["cf5a5c07.9e6bc"]]},{"id":"cf5a5c07.9e6bc","type":"function","z":"a5af65d6.5b89b8","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":653.1666793823242,"y":155.6667137145996,"wires":[["a80a46da.0faab8","2f0ab472.0e002c"]]},{"id":"a80a46da.0faab8","type":"ui_text","z":"a5af65d6.5b89b8","group":"c69c1ead.f0fce","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":843.1666793823242,"y":206.66668128967285,"wires":[]},{"id":"c69c1ead.f0fce","type":"ui_group","z":"","name":"swathi","tab":"ce5abf0a.184e7","disp":true,"width":"6","collapse":false},{"id":"ce5abf0a.184e7","type":"ui_tab","z":"","name":"predict","icon":"dashboard","disabled":false,"hidden":false}]