AITS Second Batch AI and ML/Prediciting Readmission - Diabets/flows.json
[{"id":"3d1f319a.ee1a7e","type":"tab","label":"hospitalproject","disabled":false,"info":""},{"id":"1b36c16a.6581ff","type":"ui_form","z":"3d1f319a.ee1a7e","name":"attributes","label":"Fill all details below and submit ","group":"acfb328e.51694","order":2,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"preg","type":"number","required":true},{"label":"Glucose","value":"glu","type":"number","required":true},{"label":"Blood pressure","value":"bp","type":"number","required":true},{"label":"Skin thickness","value":"skn","type":"number","required":true},{"label":"Insulin","value":"ins","type":"number","required":true},{"label":"BMI","value":"bmi","type":"number","required":true},{"label":"Diabetes Pedigree Function","value":"dpf","type":"number","required":true},{"label":"Age","value":"age","type":"number","required":true}],"formValue":{"preg":"","glu":"","bp":"","skn":"","ins":"","bmi":"","dpf":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"Predicting hospital readmission for patients with Diabetes","x":90.49999618530273,"y":47.999999046325684,"wires":[["e35336c4.6daf78"]]},{"id":"e35336c4.6daf78","type":"function","z":"3d1f319a.ee1a7e","name":"providing data to model","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4cad6cbd-e69f-426f-941c-df61ffa87029\"\nvar password=\"7661d008-beaf-4936-a03a-f582d64c3404\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"preg\",msg.payload.preg)\nglobal.set(\"glu\",msg.payload.glu)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"skn\",msg.payload.skn)\nglobal.set(\"ins\",msg.payload.ins)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"age\",msg.payload.age)\n\nreturn msg;","outputs":1,"noerr":0,"x":184.5,"y":107,"wires":[["23a92399.f9ee6c"]]},{"id":"23a92399.f9ee6c","type":"http request","z":"3d1f319a.ee1a7e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":247.5,"y":174,"wires":[["68131a23.bc0ef4"]]},{"id":"68131a23.bc0ef4","type":"function","z":"3d1f319a.ee1a7e","name":"token receiving","func":"var token=msg.payload.token;\nvar preg=global.get(\"preg\");\nvar glu=global.get(\"glu\");\nvar bp=global.get(\"bp\");\nvar skn=global.get(\"skn\");\nvar ins=global.get(\"ins\");\nvar bmi=global.get(\"bmi\");\nvar dpf=global.get(\"dpf\");\nvar age=global.get(\"age\");\nmsg.payload={\"fields\":[\"Pregnancies\",\"Glucose\",\"Blood pressure\",\"Skin thickness\",\"Insulin\",\"BMI\",\"Diabetes Pedigree Function\",\"Age\"],\"values\":[[preg,glu,bp,skn,ins,bmi,dpf,age]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":348.5,"y":231,"wires":[["91da9d27.c1936"]]},{"id":"91da9d27.c1936","type":"http request","z":"3d1f319a.ee1a7e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/904116f2-0752-4e8d-8da4-d344ad2b4456/deployments/b41619c5-42ce-4638-80e9-d196e40e96c3/online","tls":"","proxy":"","authType":"","x":428.5,"y":297,"wires":[["66f6622d.34bfbc"]]},{"id":"66f6622d.34bfbc","type":"function","z":"3d1f319a.ee1a7e","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":494.5,"y":375,"wires":[["7ef91057.a3916"]]},{"id":"7ef91057.a3916","type":"ui_text","z":"3d1f319a.ee1a7e","group":"acfb328e.51694","order":3,"width":"0","height":"0","name":"","label":"Prediction : ","format":"{{msg.payload}}","layout":"row-left","x":594.5,"y":433,"wires":[]},{"id":"acfb328e.51694","type":"ui_group","z":"","name":"Predicting hospital readmission for patients with Diabetes","tab":"9cfc8c4e.f3af9","disp":true,"width":"11","collapse":false},{"id":"9cfc8c4e.f3af9","type":"ui_tab","z":"","name":"Readmission predictioin","icon":"dashboard","disabled":false,"hidden":false}]